<div class="navbar navbar-fixed-top">
  <div class="navbar-inner navbar-custom">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="/html/aboutme.html">About me</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://hiteshp.github.com">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/hiteshp" target="_blank">GitHub</a>
		  </li>
		</ul>		
	  </div>
	</div>
  </div>
</div>
