<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://hiteshp.github.com">Hitesh Patel</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://hiteshp.github.com">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/hiteshp" target="_blank">GitHub</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.linkedin.com/in/hiteshpatel1" title="Go to linkedin profile" target="_blank">LinkedIn</a>
		  </li>		
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.twitter.com/hitespatel" title="Go to twitter.com/hitespatel" target="_blank">Twitter</a>  
		  </li>	
<!--  			  
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/erjjones/earthjs" title="Go to Earth.js on GitHub" target="_blank">Earth.js</a></li>	
				</ul>
			  </li>		  
		
-->
		</ul>		
	  </div>
	</div>
  </div>
</div>
